{% extends 'main/base.html' %}
{% load static %}
{% block title %}Detail Plant{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Detail Plant</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        <div class="col">
            <div class="card">
                <img src="{{ plant.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ plant.name }}</h5>
                    <p class="card-text">{{ plant.about }}</p>
                    <p class="card-text"><small class="text-muted">Used For: {{ plant.used_for }}</small></p>
                    <p class="card-text">category: {{ plant.get_category_display }}</p>
                    <p class="card-text"></p>is edible: {{ plant.is_edible }}</p>
                    <p class="card-text">created at: {{ plant.created_at }}</p>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'plant:update_plant_view' plant.id %}" class="btn btn-primary">Update</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Plant</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ plant.name }} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'plant:delete_plant_view' plant.id %}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}