{% extends 'main/base.html' %}
{% load static %}
{% block title %}Show Plant{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">All Plants</h1>
    <div class="d-flex justify-content-end mb-3">
        <form action="{% url 'plant:plants_view' %}" method="get" >
            <div class="d-flex gap-3">
                <!-- <input type="search" name="search" class="form-control" placeholder="Search by name" value="{{ request.GET.search }}" required minlength="3"> -->
                <select name="order_by" class="form-select">
                    <option name="order_by" value="">Default</option>
                    <option value="category" {% if request.GET.order_by == "category" %}selected{% endif %}>Category</option>
                    <option value="is_edible" {% if request.GET.order_by == "is_edible" %}selected{% endif %}>Is Edible</option>
                </select>
                <input type="submit" value="apply" class="btn btn-primary ">
            </div>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        {% for plant in plants %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ plant.image.url }}" class="card-img-top" alt="...">
                <div class="card-body text-start">
                    <a href="{% url 'plant:detail_plant_view' plant.id %}">
                        <h5 class="card-title">{{ plant.name }}</h5>
                    </a>
                    <p class="card-text">{{ plant.get_category_display }}</p>
                    <p class="card-text"> Is Edible: {% if plant.is_edible %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}