{% extends 'main/base.html' %}
{% load static %}
{% block title %}Show Plant{% endblock %}

{% block content %}
<div class="container mt-5">
        <h1 class="mb-4">All Plants</h1>
        {% if plants %}
            <div class="d-flex justify-content-end mb-3">
                <form action="{% url 'plant:plants_view' %}" method="get" >
                    <div class="d-flex gap-3">
                        <!-- <input type="search" name="search" class="form-control" placeholder="Search by name" value="{{ request.GET.search }}" required minlength="3"> -->
                        <form method="get" class="d-flex gap-2 align-items-center flex-wrap mb-4">
                        
                            <input type="text" name="search" class="form-control" placeholder="Search by name" value="{{ request.GET.search }}">
                        
                            <select name="category" class="form-select">
                                <option value="">All Categories</option>
                                <option value="FRUIT" {% if request.GET.category == "FRUIT" %}selected{% endif %}>Fruit</option>
                                <option value="VEGETABLE" {% if request.GET.category == "VEGETABLE" %}selected{% endif %}>Vegetable</option>
                                <option value="FLOWER" {% if request.GET.category == "FLOWER" %}selected{% endif %}>Flower</option>
                                <option value="HERB" {% if request.GET.category == "HERB" %}selected{% endif %}>Herb</option>
                            </select>
                        
                            <select name="is_edible" class="form-select">
                                <option value="">All</option>
                                <option value="true" {% if request.GET.is_edible == "true" %}selected{% endif %}>Edible</option>
                                <option value="false" {% if request.GET.is_edible == "false" %}selected{% endif %}>Not Edible</option>
                            </select>
                        
                            <button type="submit" class="btn btn-primary">Apply</button>
                            <a href="{% url 'plant:plants_view' %}" class="btn btn-secondary">Reset</a>
                        </form>
                    </div>
                </form>
            
            </div>
        {% else %}
             <p>No plants found.</p>
        {% endif %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        {% for plant in plants %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ plant.image.url }}" class="card-img-top" alt="...">
                <div class="card-body text-start">
                    <a href="{% url 'plant:detail_plant_view' plant.id %}">
                        <h5 class="card-title">{{ plant.name }}</h5>
                    </a>
                    <p class="card-text">{{ plant.about|truncatechars:100 }}</p>
                    <p class="card-text">{{ plant.get_category_display }}</p>
                    <p class="card-text"> Is Edible: {% if plant.is_edible %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}